pkgbase = illogical-updots
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/FoxyIsCoding/illogical-updots
	arch = any
	license = custom
	depends = python
	depends = git
	depends = adwaita-icon-theme
	depends = gdk-pixbuf2
	depends = librsvg
	optdepends = papirus-icon-theme: optional icon theme

pkgname = illogical-updots
pkgdesc = Illogical Updots - A app to update End4 dot files within a gui. It has multiple features to make updating dotfiles easier. It also supports saving your local tweaks so it doesnt override. The app allows you to update depending the needs like if you need full install or only files etc.
